<script type="text/javascript" src="javascript/blocksright.js"></script>
<a class="skip-block" href="#sb-3">Skip Terms of the Time</a>

            <div class="block_glossary_random block" data-block="glossary_random"
            data-dockable="1" data-instanceid="18" id="inst18">
                <div class="header">
                    <div class="title" id="yui_3_17_2_3_1430903205592_232">
                        <div class="block_action">
                            <img alt="Hide Terms of the Time block" class=
                            "block-hider-hide" src="images/switch_minus.svg" title=
                            "Hide Terms of the Time block"><img alt=
                            "Show Terms of the Time block" class="block-hider-show"
                            src="images/switch_plus.svg" title=
                            "Show Terms of the Time block"><input alt=
                            "Move this to the dock" class=
                            "moveto customcommand requiresjs" src=
                            "images/block_to_dock.svg" title=
                            "Dock Terms of the Time block" type="image">
                        </div>

                        <h2 id="instance-18-header">Terms of the Time</h2>
                    </div>
                </div>

                <div class="content">
                    There are no entries yet in the chosen glossary.

                    <div class="footer">
                        <a href="mod/glossary/edit.php?cmid=97" title=
                        "Add other terms when you find them">Add other terms when you
                        find them</a><br>
                        <a href="mod/glossary/view.php?id=97" title="More terms">More
                        terms</a>
                    </div>
                </div>
            </div><span class="skip-block-to" id="sb-3"></span><a class="skip-block"
            href="#sb-4">Skip Where's this?</a>

            <div class="block_html block" data-block="html" data-dockable="1"
            data-instanceid="16" id="inst16">
                <div class="header">
                    <div class="title" id="yui_3_17_2_3_1430903205592_248">
                        <div class="block_action">
                            <img alt="Hide Where's this? block" class=
                            "block-hider-hide" src="images/switch_minus.svg" title=
                            "Hide Where's this? block"><img alt=
                            "Show Where's this? block" class="block-hider-show" src=
                            "images/switch_plus.svg" title=
                            "Show Where's this? block"><input alt=
                            "Move this to the dock" class=
                            "moveto customcommand requiresjs" src=
                            "images/block_to_dock.svg" title=
                            "Dock Where&amp;#x27;s this? block" type="image">
                        </div>

                        <h2 id="instance-16-header">Where's this?</h2>
                    </div>
                </div>

                <div class="content">
                    <div class="no-overflow">
                        <p><a href=
                        "http://www.wordsworth.org.uk/history/index.asp?pageid=36"
                        target="_blank"><img height="91" src=
                        "images/256px-Dove_Cottage_circa_1920.jpg" width="160"></a></p>
                    </div>
                </div>
            </div><span class="skip-block-to" id="sb-4"></span>

            <div class="block_html block" data-block="html" data-instanceid="17" id=
            "inst17">
                <div class="content">
                    <div class="block_action notitle"></div>

                    <div class="no-overflow">
                        <p><a href="http://creativecommons.org/licenses/by-sa/3.0/"
                        rel="license"><img alt="Creative Commons License" src=
                        "images/88x31.png" style=
                        "float: left; border-width: 0pt; margin: 2px;"></a><span style=
                        "font-weight: bold; font-size: small;">Attribution, Share
                        Alike. Resources and images are either created by the author,
                        Mary Cooch, or in the Public Domain.</span></p>
                    </div>
                </div>
            </div>