            <div>
                <span id="maincontent"></span>

                <div class="course-content">
                    <h2 class="accesshide">Topic outline</h2>

                    <ul class="topics">
                        <li class="section main clearfix" id="section-0">
                            <div class="left side"><img alt="" class="spacer" height="1"
                            src="images/spacer.gif" title="" width="1"></div>

                            <div class="right side"><img alt="" class="spacer" height="1"
                            src="images/spacer.gif" title="" width="1"></div>

                            <div class="content">
                                <h3 class="sectionname">Welcome!</h3>

                                <div class="summary">
                                    <div class="no-overflow">
                                        <p>This course forms the introductory module to our
                                        studies of the Lake District poets. We will be
                                        investigating the &nbsp;general background to the
                                        three main poets, Wordsworth, Coleridge and Southey
                                        and choosing one poem from each in particular. If
                                        you enjoy the course, consider opting for our
                                        Romantic Poetry module later in the academic
                                        year.</p>

                                        <p style="text-align: center;"><img alt=
                                        "Lakes Poets" height="146" src=
                                        "images/lakespoets.png" width="314"></p>
                                    </div>
                                </div>

                                <ul class="section img-text">
                                    <li class="activity forum modtype_forum" id=
                                    "module-93">
                                        <div>
                                            <div class="mod-indent-outer">
                                                <div class="mod-indent"></div>

                                                <div>
                                                    <div class="activityinstance">
                                                        <a class="" href=
                                                        "quiz.html" onclick=
                                                        ""><img alt=" " class=
                                                        "iconlarge activityicon" src=
                                                        "images/icon_004.svg"><span class=
                                                        "instancename">Lakes
                                                        Forum</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="activity page modtype_page" id="module-94">
                                        <div>
                                            <div class="mod-indent-outer">
                                                <div class="mod-indent"></div>

                                                <div>
                                                    <div class="activityinstance">
                                                        <a class="" href=
                                                        "quiz.html" onclick=
                                                        ""><img alt=" " class=
                                                        "iconlarge activityicon" src=
                                                        "images/icon_003.svg"><span class=
                                                        "instancename">Who are the Lakes
                                                        Poets? <span class=
                                                        "accesshide">Page</span></span></a>
                                                    </div>

                                                    <div class="contentafterlink">
                                                        <div class="no-overflow">
                                                            <div class="no-overflow">
                                                                <p>a brief introduction to
                                                                this module.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="activity lesson modtype_lesson" id=
                                    "module-95">
                                        <div>
                                            <div class="mod-indent-outer">
                                                <div class="mod-indent"></div>

                                                <div>
                                                    <div class="activityinstance">
                                                        <a class="" href=
                                                        "quiz.html"
                                                        onclick=""><img alt=" " class=
                                                        "iconlarge activityicon" src=
                                                        "images/icon.svg"><span class=
                                                        "instancename">Wordle Analysis
                                                        <span class=
                                                        "accesshide">Lesson</span></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="activity label modtype_label" id=
                                    "module-96">
                                        <div>
                                            <div class="mod-indent-outer">
                                                <div class="mod-indent"></div>

                                                <div>
                                                    <div class="contentwithoutlink">
                                                        <div class="no-overflow">
                                                            <div class="no-overflow">
                                                                <p><em>Think Wordle,
                                                                Wordsworth (and the others)
                                                                and WORDS!</em></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="activity glossary modtype_glossary" id=
                                    "module-97">
                                        <div>
                                            <div class="mod-indent-outer">
                                                <div class="mod-indent"></div>

                                                <div>
                                                    <div class="activityinstance">
                                                        <a class="" href=
                                                        "quiz.html"
                                                        onclick=""><img alt=" " class=
                                                        "iconlarge activityicon" src=
                                                        "images/icon_008.svg"><span class=
                                                        "instancename">Course
                                                        glossary</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="activity choice modtype_choice" id=
                                    "module-98">
                                        <div>
                                            <div class="mod-indent-outer">
                                                <div class="mod-indent"></div>

                                                <div>
                                                    <div class="activityinstance">
                                                        <a class="" href=
                                                        "quiz.html"
                                                        onclick=""><img alt=" " class=
                                                        "iconlarge activityicon" src=
                                                        "images/icon_005.svg"><span class=
                                                        "instancename">Which poet?
                                                        <span class=
                                                        "accesshide">Choice</span></span></a>
                                                    </div>

                                                    <div class="contentafterlink">
                                                        <div class="no-overflow">
                                                            <div class="no-overflow">
                                                                <p>We are studying all
                                                                three but whose writing do
                                                                you find the most
                                                                &nbsp;emotive? Once you
                                                                have voted, you will be
                                                                able to see other's
                                                                choices. We have decided to
                                                                let you see the actual
                                                                voters here although in
                                                                other "choices" we can make
                                                                this anonymous or not let
                                                                you see the results at
                                                                all.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="section main clearfix" id="section-1">
                            <div class="left side"><img alt="" class="spacer" height="1"
                            src="images/spacer.gif" title="" width="1"></div>

                            <div class="right side"><img alt="" class="spacer" height="1"
                            src="images/spacer.gif" title="" width="1"></div>

                            <div class="content">
                                <h3 class="sectionname">Wordsworth</h3>

                                <div class="summary"></div>

                                <ul class="section img-text">

                                    <li class="activity resource modtype_resource" id=
                                    "module-100">
                                        <div>
                                            <div class="mod-indent-outer">
                                                <div class="mod-indent"></div>

                                                <div>
                                                    <div class="activityinstance">
                                                        <a class="" href=
                                                        "quiz.html"
                                                        onclick=""><img alt=" " class=
                                                        "iconlarge activityicon" src=
                                                        "images/pdf-24.png"><span class=
                                                        "instancename">Download "Daffodils"
                                                        <span class=
                                                        "accesshide">File</span></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="activity page modtype_page" id="module-101">
                                        <div>
                                            <div class="mod-indent-outer">
                                                <div class="mod-indent"></div>

                                                <div>
                                                    <div class="activityinstance">
                                                        <a class="" href=
                                                        "quiz.html" onclick=
                                                        ""><img alt=" " class=
                                                        "iconlarge activityicon" src=
                                                        "images/icon_003.svg"><span class=
                                                        "instancename">The life of
                                                        Wordsworth <span class=
                                                        "accesshide">Page</span></span></a>
                                                    </div>

                                                    <div class="contentafterlink">
                                                        <div class="no-overflow">
                                                            <div class="no-overflow">
                                                                <p>Watch this &nbsp;video
                                                                to gain an insight into the
                                                                life of William Wordsworth
                                                                and his connections to the
                                                                English Lake District.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="activity url modtype_url" id="module-102">
                                        <div>
                                            <div class="mod-indent-outer">
                                                <div class="mod-indent"></div>

                                                <div>
                                                    <div class="activityinstance">
                                                        <a class="" href=
                                                        "quiz.html" onclick=
                                                        "window.open('mod/url/view.php?id=102&amp;redirect=1', '', 'width=620,height=450,toolbar=no,location=no,menubar=no,copyhistory=no,status=no,directories=no,scrollbars=yes,resizable=yes'); return false;">
                                                        <img alt=" " class=
                                                        "iconlarge activityicon" src=
                                                        "images/icon_009.svg"><span class=
                                                        "instancename">Poems by Wordsworth
                                                        <span class=
                                                        "accesshide">URL</span></span></a>
                                                    </div>

                                                    <div class="contentafterlink">
                                                        <div class="no-overflow">
                                                            <div class="no-overflow">
                                                                <p>A selection of
                                                                &nbsp;Wordsworth books from
                                                                the Gutenberg Project</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="activity assign modtype_assign" id=
                                    "module-103">
                                        <div>
                                            <div class="mod-indent-outer">
                                                <div class="mod-indent"></div>

                                                <div>
                                                    <div class="activityinstance">
                                                        <a class="" href=
                                                        "quiz.html"
                                                        onclick=""><img alt=" " class=
                                                        "iconlarge activityicon" src=
                                                        "images/icon_002.svg"><span class=
                                                        "instancename">Wordsworth
                                                        "Daffodils" Assignment</span></a>
                                                    </div>

                                                    <div class="contentafterlink">
                                                        <div class="no-overflow">
                                                            <div class="no-overflow">
                                                                <p>Wordsworth's poem
                                                                "Daffodils" is considered
                                                                hackneyed in our modern
                                                                times but its philosophical
                                                                basis is very profound.
                                                                Discuss.</p>

                                                                <p>Please note: Your final
                                                                grade (using rubrics) will
                                                                be a combination of:</p>

                                                                <ul>
                                                                    <li>style and
                                                                    grammatical
                                                                    accuracy</li>

                                                                    <li>strength of
                                                                    argument</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="section main clearfix" id="section-2">
                            <div class="left side"><img alt="" class="spacer" height="1"
                            src="images/spacer.gif" title="" width="1"></div>

                            <div class="right side"><img alt="" class="spacer" height="1"
                            src="images/spacer.gif" title="" width="1"></div>

                            <div class="content">
                                <h3 class="sectionname">Coleridge</h3>

                                <div class="summary"></div>

                                <ul class="section img-text">
                                    <li class="activity label modtype_label" id=
                                    "module-104">
                                        <div>
                                            <div class="mod-indent-outer">
                                                <div class="mod-indent"></div>

                                                <div>
                                                    <div class="contentwithoutlink">
                                                        <div class="no-overflow">
                                                            <div class="no-overflow">
                                                                <p><span class=
                                                                "mediaplugin mediaplugin_youtube">
                                                                <iframe frameborder="0"
                                                                height="300" src=
                                                                "multimedia/re_IBngosBU.html"
                                                                title=
                                                                "Kubla Khan (2002) Pandaemonium, Julien Temple"
                                                                width="400"><span class=
                                                                "mediaplugin mediaplugin_youtube">
                                                                </span></iframe></span></p>

                                                                <p>Listen -and watch - this
                                                                powerful renditon of Kubla
                                                                Khan.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="activity resource modtype_resource" id=
                                    "module-105">
                                        <div>
                                            <div class="mod-indent-outer">
                                                <div class="mod-indent"></div>

                                                <div>
                                                    <div class="activityinstance">
                                                        <a class="" href=
                                                        "quiz.html"
                                                        onclick=""><img alt=" " class=
                                                        "iconlarge activityicon" src=
                                                        "images/pdf-24.png"><span class=
                                                        "instancename">Download "Kubla
                                                        Khan" <span class=
                                                        "accesshide">File</span></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="activity url modtype_url" id="module-106">
                                        <div>
                                            <div class="mod-indent-outer">
                                                <div class="mod-indent"></div>

                                                <div>
                                                    <div class="activityinstance">
                                                        <a class="" href=
                                                        "quiz.html" onclick=
                                                        ""><img alt=" " class=
                                                        "iconlarge activityicon" src=
                                                        "images/icon_009.svg"><span class=
                                                        "instancename">Poems by Coleridge
                                                        <span class=
                                                        "accesshide">URL</span></span></a>
                                                    </div>

                                                    <div class="contentafterlink">
                                                        <div class="no-overflow">
                                                            <div class="no-overflow">
                                                                <p>An online book of
                                                                &nbsp;Coleridge's complete
                                                                works from the Gutenberg
                                                                Project</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="activity workshop modtype_workshop" id=
                                    "module-107">
                                        <div>
                                            <div class="mod-indent-outer">
                                                <div class="mod-indent"></div>

                                                <div>
                                                    <div class="activityinstance">
                                                        <a class="" href=
                                                        "quiz.html"
                                                        onclick=""><img alt=" " class=
                                                        "iconlarge activityicon" src=
                                                        "images/icon_007.svg"><span class=
                                                        "instancename">Coleridge's "Kubla
                                                        Khan" peer assessment assignment
                                                        <span class=
                                                        "accesshide">Workshop</span></span></a>
                                                    </div>

                                                    <div class="contentafterlink">
                                                        <div class="no-overflow">
                                                            <div class="no-overflow">
                                                                <p>Unleash your creativity!
                                                                Create a resource -
                                                                powerpoint/video/other -
                                                                which reproduces the feel
                                                                and atmosphere of
                                                                Coleridge's poem. Your work
                                                                partners will assess
                                                                it.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>