<div>
    <span id="maincontent"></span>

    <form accept-charset="utf-8" action=
    "quiz.html" autocomplete=
    "off" enctype="multipart/form-data" id="responseform" method="post" name=
    "responseform">
        <div>
            <div class="que truefalse deferredfeedback notyetanswered" id="q1">
                <div class="info">
                    <h3 class="no">Question <span class="qno">1</span></h3>

                    <div class="state">
                        Not yet answered
                    </div>

                    <div class="grade">
                        Marked out of 1
                    </div>

                    <div class="questionflag editable" id=
                    "yui_3_17_2_3_1430903133897_29">
                        <input name="q5:1_:flagged" type="hidden" value=
                        "0"><input class="questionflagpostdata" type="hidden"
                        value=
                        "qaid=31&amp;qubaid=5&amp;qid=1&amp;slot=1&amp;checksum=8a694270a5fa87aede577c8b60b9d1ac&amp;sesskey=DfLgTeNn6P&amp;newstate=">
                        <input class="questionflagvalue" id=
                        "q5:1_:flaggedcheckbox" name="q5:1_:flagged" type=
                        "hidden" value="0"><input alt="Not flagged" class=
                        "questionflagimage" src="images/unflagged.png"
                        title="Flag this question for future reference" type=
                        "image"><span class="questionflagtext" title=
                        "Flag this question for future reference">Flag
                        question</span>
                    </div>

                    <div class="editquestion">
                        <a href=
                        "quiz.html">
                        <img alt="Edit" class="iconsmall" src=
                        "images/edit.svg" title="Edit">Edit question</a>
                    </div>
                </div>

                <div class="content">
                    <div class="formulation">
                        <h4 class="accesshide">Question text</h4><input name=
                        "q5:1_:sequencecheck" type="hidden" value="1">

                        <div class="qtext">
                            <p>The Mer de Glace has receded by 1 kilometre
                            (0.62 miles) in the last 130 years. True? Or
                            false?</p>

                            <p><img alt="" height="295" src=
                            "images/merdeglace.png" width="417"></p>
                        </div>

                        <div class="ablock">
                            <div class="prompt">
                                Select one:
                            </div>

                            <div class="answer">
                                <div class="r0">
                                    <input id="q5:1_answertrue" name=
                                    "q5:1_answer" type="radio" value=
                                    "1"><label for=
                                    "q5:1_answertrue">True</label>
                                </div>

                                <div class="r1">
                                    <input id="q5:1_answerfalse" name=
                                    "q5:1_answer" type="radio" value=
                                    "0"><label for=
                                    "q5:1_answerfalse">False</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="que multichoice deferredfeedback notyetanswered" id=
            "q2">
                <div class="info">
                    <h3 class="no">Question <span class="qno">2</span></h3>

                    <div class="state">
                        Not yet answered
                    </div>

                    <div class="grade">
                        Marked out of 1
                    </div>

                    <div class="questionflag editable" id=
                    "yui_3_17_2_3_1430903133897_38">
                        <input name="q5:2_:flagged" type="hidden" value=
                        "0"><input class="questionflagpostdata" type="hidden"
                        value=
                        "qaid=32&amp;qubaid=5&amp;qid=2&amp;slot=2&amp;checksum=1742478762e2f75d7117f895021ab19e&amp;sesskey=DfLgTeNn6P&amp;newstate=">
                        <input class="questionflagvalue" id=
                        "q5:2_:flaggedcheckbox" name="q5:2_:flagged" type=
                        "hidden" value="0"><input alt="Not flagged" class=
                        "questionflagimage" src="images/unflagged.png"
                        title="Flag this question for future reference" type=
                        "image"><span class="questionflagtext" title=
                        "Flag this question for future reference">Flag
                        question</span>
                    </div>

                    <div class="editquestion">
                        <a href=
                        "quiz.html">
                        <img alt="Edit" class="iconsmall" src=
                        "images/edit.svg" title="Edit">Edit question</a>
                    </div>
                </div>

                <div class="content">
                    <div class="formulation">
                        <h4 class="accesshide">Question text</h4><input name=
                        "q5:2_:sequencecheck" type="hidden" value="1">

                        <div class="qtext">
                            <p>Who was the first person to reach the top of
                            Mont Blanc?</p>
                        </div>

                        <div class="ablock">
                            <div class="prompt">
                                Select one:
                            </div>

                            <div class="answer">
                                <div class="r0">
                                    <input id="q5:2_answer0" name="q5:2_answer"
                                    type="radio" value="0"><label for=
                                    "q5:2_answer0">a. Jacques Balmat</label>
                                </div>

                                <div class="r1">
                                    <input id="q5:2_answer1" name="q5:2_answer"
                                    type="radio" value="1"><label for=
                                    "q5:2_answer1">b. Edward Whymper</label>
                                </div>

                                <div class="r0">
                                    <input id="q5:2_answer2" name="q5:2_answer"
                                    type="radio" value="2"><label for=
                                    "q5:2_answer2">c. Edmund Hilary</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="que shortanswer deferredfeedback notyetanswered" id=
            "q3">
                <div class="info">
                    <h3 class="no">Question <span class="qno">3</span></h3>

                    <div class="state">
                        Not yet answered
                    </div>

                    <div class="grade">
                        Marked out of 1
                    </div>

                    <div class="questionflag editable" id=
                    "yui_3_17_2_3_1430903133897_47">
                        <input name="q5:3_:flagged" type="hidden" value=
                        "0"><input class="questionflagpostdata" type="hidden"
                        value=
                        "qaid=33&amp;qubaid=5&amp;qid=3&amp;slot=3&amp;checksum=d48b08f9248f9485122f358010084b65&amp;sesskey=DfLgTeNn6P&amp;newstate=">
                        <input class="questionflagvalue" id=
                        "q5:3_:flaggedcheckbox" name="q5:3_:flagged" type=
                        "hidden" value="0"><input alt="Not flagged" class=
                        "questionflagimage" src="images/unflagged.png"
                        title="Flag this question for future reference" type=
                        "image"><span class="questionflagtext" title=
                        "Flag this question for future reference">Flag
                        question</span>
                    </div>

                    <div class="editquestion">
                        <a href=
                        "quiz.html">
                        <img alt="Edit" class="iconsmall" src=
                        "images/edit.svg" title="Edit">Edit question</a>
                    </div>
                </div>

                <div class="content">
                    <div class="formulation">
                        <h4 class="accesshide">Question text</h4><input name=
                        "q5:3_:sequencecheck" type="hidden" value="1">

                        <div class="qtext">
                            <p>What do you need to protect your eyes when
                            climbing in the Alps? Write your answer as just one
                            word - for example : <strong>ointment</strong></p>
                        </div>

                        <div class="ablock">
                            <label for="q5:3_answer">Answer: <span class=
                            "answer"><input id="q5:3_answer" name="q5:3_answer"
                            size="80" type="text"></span></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="que multichoice deferredfeedback notyetanswered" id=
            "q4">
                <div class="info">
                    <h3 class="no">Question <span class="qno">4</span></h3>

                    <div class="state">
                        Not yet answered
                    </div>

                    <div class="grade">
                        Marked out of 1
                    </div>

                    <div class="questionflag editable" id=
                    "yui_3_17_2_3_1430903133897_56">
                        <input name="q5:4_:flagged" type="hidden" value=
                        "0"><input class="questionflagpostdata" type="hidden"
                        value=
                        "qaid=34&amp;qubaid=5&amp;qid=4&amp;slot=4&amp;checksum=f376175641acaaebe292c4f58db2a020&amp;sesskey=DfLgTeNn6P&amp;newstate=">
                        <input class="questionflagvalue" id=
                        "q5:4_:flaggedcheckbox" name="q5:4_:flagged" type=
                        "hidden" value="0"><input alt="Not flagged" class=
                        "questionflagimage" src="images/unflagged.png"
                        title="Flag this question for future reference" type=
                        "image"><span class="questionflagtext" title=
                        "Flag this question for future reference">Flag
                        question</span>
                    </div>

                    <div class="editquestion">
                        <a href=
                        "quiz.html">
                        <img alt="Edit" class="iconsmall" src=
                        "images/edit.svg" title="Edit">Edit question</a>
                    </div>
                </div>

                <div class="content">
                    <div class="formulation">
                        <h4 class="accesshide">Question text</h4><input name=
                        "q5:4_:sequencecheck" type="hidden" value="1">

                        <div class="qtext">
                            <p>Watch this video of renowned Alpinist Gaston
                            Rébuffat. How does he protect himself during the
                            climb?</p>

                            <p style="text-align: center;"><span class=
                            "mediaplugin mediaplugin_youtube"><iframe frameborder="0"
                            height="300" src="images/OhJHBVeOPc0.html"
                            title="La haute montagne avec Gaston Rebuffat"
                            width="400"><span class=
                            "mediaplugin mediaplugin_youtube"></span></iframe></span></p>
                        </div>

                        <div class="ablock">
                            <div class="prompt">
                                Select one:
                            </div>

                            <div class="answer">
                                <div class="r0">
                                    <input id="q5:4_answer0" name="q5:4_answer"
                                    type="radio" value="0"><label for=
                                    "q5:4_answer0">a. Nothing - he uses his
                                    bare hands</label>
                                </div>

                                <div class="r1">
                                    <input id="q5:4_answer1" name="q5:4_answer"
                                    type="radio" value="1"><label for=
                                    "q5:4_answer1">b. A rope</label>
                                </div>

                                <div class="r0">
                                    <input id="q5:4_answer2" name="q5:4_answer"
                                    type="radio" value="2"><label for=
                                    "q5:4_answer2">c. clips to
                                    carabiners</label>
                                </div>

                                <div class="r1">
                                    <input id="q5:4_answer3" name="q5:4_answer"
                                    type="radio" value="3"><label for=
                                    "q5:4_answer3">d. pitons</label>
                                </div>

                                <div class="r0">
                                    <input id="q5:4_answer4" name="q5:4_answer"
                                    type="radio" value="4"><label for=
                                    "q5:4_answer4">e. a rope, clips and
                                    pitons</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="submitbtns">
                <input name="next" type="submit" value="Next">
            </div><input name="attempt" type="hidden" value="5"><input id=
            "followingpage" name="thispage" type="hidden" value=
            "0"><input name="nextpage" type="hidden" value="-1"><input id=
            "timeup" name="timeup" type="hidden" value="0"><input name=
            "sesskey" type="hidden" value="DfLgTeNn6P"><input id="scrollpos"
            name="scrollpos" type="hidden" value=""><input name="slots" type=
            "hidden" value="1,2,3,4">
        </div>
    </form>

    <div id="connection-error" style="display: none;">
        <p>Network connection lost. (Autosave failed).</p>

        <p>Make a note of any responses entered on this page in the last few
        minutes, then try to re-connect.</p>

        <p>Once connection has been re-established, your responses should be
        saved and this message will disappear.</p>
    </div>

    <div id="connection-ok" style="display: none;">
        <p>Network connection restored. You may continue safely.</p>
    </div>
</div>