<script type="text/javascript" src="javascript/blocksright.js"></script>
<a class="skip-block" href="#sb-3">Skip My private files</a>

<div class="block_private_files block" data-block="private_files"
data-dockable="1" data-instanceid="7" id="inst7">
    <div class="header">
        <div class="title">
            <div class="block_action"></div>

            <h2 id="instance-7-header">My private files</h2>
        </div>
    </div>

    <div class="content">
        <div class="box generalbox">
            No files available
        </div>

        <div class="footer">
            <a href=
            "http://aalborg.sonsbeekmedia.nl/user/files.php?returnurl=http%3A%2F%2Faalborg.sonsbeekmedia.nl%2Fmy%2Findex.php">
            Manage my private files...</a>
        </div>
    </div>
</div><span class="skip-block-to" id="sb-3"></span><a class="skip-block"
href="#sb-4">Skip My latest badges</a>

<div class="block_badges block" data-block="badges" data-dockable="1"
data-instanceid="33" id="inst33">
    <div class="header">
        <div class="title">
            <div class="block_action"></div>

            <h2 id="instance-33-header">My latest badges</h2>
        </div>
    </div>

    <div class="content">
        You have no badges to display
    </div>
</div><span class="skip-block-to" id="sb-4"></span><a class="skip-block"
href="#sb-5">Skip Calendar</a>

<div class="block_calendar_month block" data-block="calendar_month"
data-dockable="1" data-instanceid="34" id="inst34">
    <div class="header">
        <div class="title">
            <div class="block_action"></div>

            <h2 id="instance-34-header">Calendar</h2>
        </div>
    </div>

    <div class="content">
        <div class="calendar-controls">
            <a class="arrow_link previous" href=
            "http://aalborg.sonsbeekmedia.nl/my/index.php?time=1427839200"
            title="Previous month"><span class=
            "arrow">&#x25C0;</span><span class=
            "accesshide">&nbsp;<span class="arrow_text">Previous
            month</span></span></a> <span class="hide">|</span>
            <span class="current"><a href=
            "http://aalborg.sonsbeekmedia.nl/calendar/view.php?view=month&amp;time=1430915736&amp;course=1"
            title="This month">May 2015</a></span> <span class=
            "hide">|</span> <a class="arrow_link next" href=
            "http://aalborg.sonsbeekmedia.nl/my/index.php?time=1433109600"
            title="Next month"><span class="accesshide"><span class=
            "arrow_text">Next month</span>&nbsp;</span><span class=
            "arrow">&#x25B6;</span></a><span class="clearer">
            <!-- --></span>
        </div>

        <table class="minicalendar calendartable" summary=
        "May 2015 Calendar">
            <caption></caption>

            <tr class="weekdays">
                <th scope="col"><abbr title="Sunday">Sun</abbr></th>

                <th scope="col"><abbr title="Monday">Mon</abbr></th>

                <th scope="col"><abbr title="Tuesday">Tue</abbr></th>

                <th scope="col"><abbr title="Wednesday">Wed</abbr></th>

                <th scope="col"><abbr title="Thursday">Thu</abbr></th>

                <th scope="col"><abbr title="Friday">Fri</abbr></th>

                <th scope="col"><abbr title="Saturday">Sat</abbr></th>
            </tr>

            <tr>
                <td class="dayblank">&nbsp;</td>

                <td class="dayblank">&nbsp;</td>

                <td class="dayblank">&nbsp;</td>

                <td class="dayblank">&nbsp;</td>

                <td class="dayblank">&nbsp;</td>

                <td class="day">1</td>

                <td class="weekend day">2</td>
            </tr>

            <tr>
                <td class="weekend day">3</td>

                <td class="day">4</td>

                <td class="day">5</td>

                <td class="day today eventnone">
                    <span class="accesshide">Today Wednesday, 6 May</span>
                    <a href="#" id="calendar_tooltip_1">6</a>
                </td>

                <td class="day">7</td>

                <td class="day">8</td>

                <td class="weekend day">9</td>
            </tr>

            <tr>
                <td class="weekend day">10</td>

                <td class="day">11</td>

                <td class="day">12</td>

                <td class="day">13</td>

                <td class="day">14</td>

                <td class="day">15</td>

                <td class="weekend day">16</td>
            </tr>

            <tr>
                <td class="weekend day">17</td>

                <td class="day">18</td>

                <td class="day">19</td>

                <td class="day">20</td>

                <td class="day">21</td>

                <td class="day">22</td>

                <td class="weekend day">23</td>
            </tr>

            <tr>
                <td class="weekend day">24</td>

                <td class="day">25</td>

                <td class="day">26</td>

                <td class="day">27</td>

                <td class="day">28</td>

                <td class="day">29</td>

                <td class="weekend day">30</td>
            </tr>

            <tr>
                <td class="weekend day">31</td>

                <td class="dayblank">&nbsp;</td>

                <td class="dayblank">&nbsp;</td>

                <td class="dayblank">&nbsp;</td>

                <td class="dayblank">&nbsp;</td>

                <td class="dayblank">&nbsp;</td>

                <td class="dayblank">&nbsp;</td>
            </tr>
        </table>
    </div>
</div><span class="skip-block-to" id="sb-5"></span><a class="skip-block"
href="#sb-6">Skip Upcoming events</a>

<div class="block_calendar_upcoming block" data-block="calendar_upcoming"
data-dockable="1" data-instanceid="35" id="inst35">
    <div class="header">
        <div class="title">
            <div class="block_action"></div>

            <h2 id="instance-35-header">Upcoming events</h2>
        </div>
    </div>

    <div class="content">
        <div class="post">
            There are no upcoming events
        </div>

        <div class="footer">
            <div class="gotocal">
                <a href=
                "http://aalborg.sonsbeekmedia.nl/calendar/view.php?view=upcoming&amp;course=1">
                Go to calendar</a>...
            </div>

            <div class="newevent">
                <a href=
                "http://aalborg.sonsbeekmedia.nl/calendar/event.php?action=new&amp;course=1">
                New event</a>...
            </div>
        </div>
    </div>
</div><span class="skip-block-to" id="sb-6"></span><a class="skip-block"
href="#sb-7">Skip Online users</a>

<div class="block_online_users block" data-block="online_users"
data-dockable="1" data-instanceid="8" id="inst8">
    <div class="header">
        <div class="title">
            <div class="block_action"></div>

            <h2 id="instance-8-header">Online users</h2>
        </div>
    </div>

    <div class="content">
        <div class="info">
            (last 5 minutes)
        </div>

        <ul class='list'>
            <li class="listentry">
                <div class="user">
                    <a href=
                    "http://aalborg.sonsbeekmedia.nl/user/view.php?id=2&amp;course=1"
                    title="4 secs"><img alt="" class="userpicture" height=
                    "16" src=
                    "http://aalborg.sonsbeekmedia.nl/pluginfile.php/5/user/icon/bootstrap/f2?rev=372"
                    title="" width="16">Moodle Admin</a>
                </div>
            </li>
        </ul>

        <div class="clearer">
            <!-- -->
        </div>
    </div>
</div><span class="skip-block-to" id="sb-7"></span>