<a class="skip-block" href="#sb-8">Skip Course overview</a>

<div class="block_course_overview block" data-block=
"course_overview" data-dockable="1" data-instanceid="9" id="inst9">
    <div class="header">
        <div class="title">
            <div class="block_action"></div>

            <h2 id="instance-9-header">Course overview</h2>
        </div>
    </div>

    <div class="content">
        <div class="course_list">
            <div class="box coursebox" id="course-2">
                <div class="course_title">
                    <h2 class="title"><a href=
                    "course.html"
                    title="Basic Moodle and Mountaineering">Basic
                    Moodle and Mountaineering</a></h2>

                    <div class="box flush"></div>
                </div>

                <div class="activity_info">
                    <div class="activity_overview">
                        <div class="collapsibleregion collapsed"
                        id="region_2_assign">
                            <div id="region_2_assign_sizer">
                                <div class=
                                "collapsibleregioncaption" id=
                                "region_2_assign_caption">
                                    <a href=
                                    "course.html">
                                    <img alt="Assignment" class=
                                    "iconlarge" src=
                                    ""
                                    title="Assignment"></a>You have
                                    assignments that need attention
                                </div>

                                <div class="collapsibleregioninner"
                                id="region_2_assign_inner">
                                    <div class="assign overview">
                                        <div class="name">
                                            Assignment: <a href=
                                            "course.html"
                                            title=
                                            "Assignment">Assignment:
                                            Requirements for night
                                            in the Alps</a>
                                        </div>

                                        <div class="info">
                                            Due date: Sunday, 18
                                            March 2012, 3:10 PM
                                        </div>

                                        <div class="details">
                                            My submission: Not
                                            submitted yet, Not
                                            graded
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box flush"></div>
            </div>

            <div class="box coursebox" id="course-5">
                <div class="course_title">
                    <h2 class="title"><a href=
                    "course.html"
                    title="English: The Lake Poets">English: The
                    Lake Poets</a></h2>

                    <div class="box flush"></div>
                </div>

                <div class="box flush"></div>
            </div>

            <div class="box coursebox" id="course-6">
                <div class="course_title">
                    <h2 class="title"><a href=
                    "course.html"
                    title=
                    "Electrons Waves and Photons - G482">Electrons
                    Waves and Photons - G482</a></h2>

                    <div class="box flush"></div>
                </div>

                <div class="box flush"></div>
            </div>
        </div>
    </div>
</div><span class="skip-block-to" id="sb-8"></span>