<script type="text/javascript" src="javascript/blocksleft.js"></script>
<a class="skip-block" href="#sb-1">Skip Navigation</a>

<div class="block_navigation block" data-block="navigation" data-dockable=
"1" data-instanceid="4" id="inst4">
    <div class="header">
        <div class="title">
            <div class="block_action"></div>

            <h2 id="instance-4-header">Navigation</h2>
        </div>
    </div>

    <div class="content">
        <ul class="block_tree list">
            <li class="type_unknown depth_1 contains_branch">
                <p class="tree_item branch navigation_node"><a href=
                "home.html">Home</a></p>

                <ul>
                    <li class=
                    "type_setting depth_2 item_with_icon current_branch">
                        <p class="tree_item leaf hasicon active_tree_node">
                            <a href="myhome.html">
                            <img class="smallicon navicon" title="" src="images/navigationitem.svg" alt="">
                            My home
                            </a>
                        </p>
                    </li>

                    <li class=
                    "type_course depth_2 collapsed contains_branch">
                        <p class="tree_item branch"><span tabindex="0"
                        title="MOODLE Template">Site pages</span></p>

                        <ul>
                            <li class="type_custom depth_3 item_with_icon">
                                <p class="tree_item leaf hasicon"><a href=
                                "myhome.html">
                                <img alt="" class="smallicon navicon" src=
                                "pix_core/i/navigationitem.svg"
                                title="">Participants</a></p>
                            </li>

                            <li class="type_custom depth_3 item_with_icon">
                                <p class="tree_item leaf hasicon"><a href=
                                "myhome.html">
                                <img alt="" class="smallicon navicon" src=
                                "pix_core/i/navigationitem.svg"
                                title="">Site blogs</a></p>
                            </li>

                            <li class="type_custom depth_3 item_with_icon">
                                <p class="tree_item leaf hasicon"><a href=
                                "myhome.html">
                                <img alt="" class="smallicon navicon" src=
                                "pix_core/i/navigationitem.svg"
                                title="">Site badges</a></p>
                            </li>

                            <li class="type_custom depth_3 item_with_icon">
                                <p class="tree_item leaf hasicon"><a href=
                                "myhome.html">
                                <img alt="" class="smallicon navicon" src=
                                "pix_core/i/navigationitem.svg"
                                title="">Notes</a></p>
                            </li>

                            <li class="type_custom depth_3 item_with_icon">
                                <p class="tree_item leaf hasicon"><a href=
                                "myhome.html">
                                <img alt="" class="smallicon navicon" src=
                                "pix_core/i/navigationitem.svg"
                                title="">Tags</a></p>
                            </li>

                            <li class="type_custom depth_3 item_with_icon">
                                <p class="tree_item leaf hasicon"><a href=
                                "myhome.html">
                                <img alt="" class="smallicon navicon" src=
                                "pix_core/i/navigationitem.svg"
                                title="">Calendar</a></p>
                            </li>
                        </ul>
                    </li>

                    <li class=
                    "type_user depth_2 collapsed contains_branch">
                        <p class="tree_item branch"><span tabindex="0">My
                        profile</span></p>

                        <ul>
                            <li class="type_custom depth_3 item_with_icon">
                                <p class="tree_item leaf hasicon"><a href=
                                "myhome.html">
                                <img alt="" class="smallicon navicon" src=
                                "pix_core/i/navigationitem.svg"
                                title="">View profile</a></p>
                            </li>

                            <li class=
                            "type_custom depth_3 collapsed contains_branch">
                            <p class="tree_item branch"><span tabindex="0">
                                Forum posts</span></p>

                                <ul>
                                    <li class=
                                    "type_custom depth_4 item_with_icon">
                                        <p class="tree_item leaf hasicon">
                                        <a href=
                                        "myhome.html">
                                        <img alt="" class=
                                        "smallicon navicon" src=
                                        "pix_core/i/navigationitem.svg"
                                        title="">Posts</a></p>
                                    </li>

                                    <li class=
                                    "type_custom depth_4 item_with_icon">
                                        <p class="tree_item leaf hasicon">
                                        <a href=
                                        "myhome.html">
                                        <img alt="" class=
                                        "smallicon navicon" src=
                                        "pix_core/i/navigationitem.svg"
                                        title="">Discussions</a></p>
                                    </li>
                                </ul>
                            </li>

                            <li class=
                            "type_unknown depth_3 collapsed contains_branch">
                            <p class="tree_item branch"><span tabindex="0">
                                Blogs</span></p>

                                <ul>
                                    <li class=
                                    "type_custom depth_4 item_with_icon">
                                        <p class="tree_item leaf hasicon">
                                        <a href=
                                        "myhome.html">
                                        <img alt="" class=
                                        "smallicon navicon" src=
                                        "pix_core/i/navigationitem.svg"
                                        title="">View all of my
                                        entries</a></p>
                                    </li>

                                    <li class=
                                    "type_custom depth_4 item_with_icon">
                                        <p class="tree_item leaf hasicon">
                                        <a href=
                                        "myhome.html">
                                        <img alt="" class=
                                        "smallicon navicon" src=
                                        "pix_core/i/navigationitem.svg"
                                        title="">Add a new entry</a></p>
                                    </li>
                                </ul>
                            </li>

                            <li class=
                            "type_setting depth_3 item_with_icon">
                                <p class="tree_item leaf hasicon"><a href=
                                "myhome.html">
                                <img alt="" class="smallicon navicon" src=
                                "pix_core/i/navigationitem.svg"
                                title="">Messages</a></p>
                            </li>

                            <li class=
                            "type_setting depth_3 item_with_icon">
                                <p class="tree_item leaf hasicon"><a href=
                                "myhome.html">
                                <img alt="" class="smallicon navicon" src=
                                "pix_core/i/navigationitem.svg"
                                title="">My private files</a></p>
                            </li>

                            <li class=
                            "type_setting depth_3 item_with_icon">
                                <p class="tree_item leaf hasicon"><a href=
                                "myhome.html">
                                <img alt="" class="smallicon navicon" src=
                                "pix_core/i/navigationitem.svg"
                                title="">My badges</a></p>
                            </li>

                            <li class="type_custom depth_3 item_with_icon">
                                <p class="tree_item leaf hasicon"><a href=
                                "myhome.html">
                                <img alt="" class="smallicon navicon" src=
                                "pix_core/i/navigationitem.svg"
                                title="">Notes</a></p>
                            </li>
                        </ul>
                    </li>

                    <li class=
                    "type_system depth_2 contains_branch current_branch">
                        <p class=
                        "tree_item branch active_tree_node canexpand">
                        <a href="myhome.html">My
                        courses</a></p>

                        <ul>
                            <li class=
                            "type_course depth_3 collapsed contains_branch">
                            <p class="tree_item branch" id=
                            "expandable_branch_20_2"><a href=
                            "myhome.html"
                                title=
                                "Basic Moodle and Mountaineering">Moodle
                                Mountain</a></p>
                            </li>

                            <li class=
                            "type_course depth_3 collapsed contains_branch">
                            <p class="tree_item branch" id=
                            "expandable_branch_20_5"><a href=
                            "myhome.html"
                                title="English: The Lake Poets">SSE1: Lake
                                Poets</a></p>
                            </li>

                            <li class=
                            "type_course depth_3 collapsed contains_branch">
                            <p class="tree_item branch" id=
                            "expandable_branch_20_6"><a href=
                            "myhome.html"
                                title=
                                "Electrons Waves and Photons - G482">Electrons
                                Waves and Photons 2012</a></p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div><span class="skip-block-to" id="sb-1"></span><a class="skip-block"
href="#sb-2">Skip Administration</a>

<div class="block_settings block" data-block="settings" data-dockable="1"
data-instanceid="5" id="inst5">
    <div class="header">
        <div class="title">
            <div class="block_action"></div>

            <h2 id="instance-5-header">Administration</h2>
        </div>
    </div>

    <div class="content">
        <div class="box block_tree_box" id="settingsnav">
            <ul class="block_tree list">
                <li class="type_unknown collapsed contains_branch">
                    <p class="tree_item branch root_node" id=
                    "usersettings"><span tabindex="0">My profile
                    settings</span></p>

                    <ul>
                        <li class="type_setting collapsed item_with_icon">
                            <p class="tree_item leaf"><a href=
                            "myhome.html">
                            <img alt="" class="smallicon navicon" src=
                            "pix_core/i/navigationitem.svg"
                            title="">Edit profile</a></p>
                        </li>

                        <li class="type_setting collapsed item_with_icon">
                            <p class="tree_item leaf"><a href=
                            "myhome.html">
                            <img alt="" class="smallicon navicon" src=
                            "pix_core/i/navigationitem.svg"
                            title="">Change password</a></p>
                        </li>

                        <li class="type_setting collapsed contains_branch">
                            <p class="tree_item branch"><span tabindex=
                            "0">Roles</span></p>

                            <ul>
                                <li class=
                                "type_setting collapsed item_with_icon">
                                    <p class="tree_item leaf"><a href=
                                    "myhome.html">
                                    <img alt="" class="smallicon navicon"
                                    src=
                                    "pix_core/i/navigationitem.svg"
                                    title="">This user's role
                                    assignments</a></p>
                                </li>

                                <li class=
                                "type_setting collapsed item_with_icon">
                                    <p class="tree_item leaf"><a href=
                                    "myhome.html">
                                    <img alt="" class="smallicon navicon"
                                    src=
                                    "pix_core/i/navigationitem.svg"
                                    title="">Permissions</a></p>
                                </li>

                                <li class=
                                "type_setting collapsed item_with_icon">
                                    <p class="tree_item leaf"><a href=
                                    "myhome.html">
                                    <img alt="" class="smallicon navicon"
                                    src=
                                    "pix_core/i/navigationitem.svg"
                                    title="">Check permissions</a></p>
                                </li>
                            </ul>
                        </li>

                        <li class="type_setting collapsed item_with_icon">
                            <p class="tree_item leaf"><a href=
                            "myhome.html">
                            <img alt="" class="smallicon navicon" src=
                            "pix_core/i/navigationitem.svg"
                            title="">Messaging</a></p>
                        </li>

                        <li class="type_unknown collapsed contains_branch">
                            <p class="tree_item branch"><span tabindex=
                            "0">Blogs</span></p>

                            <ul>
                                <li class=
                                "type_setting collapsed item_with_icon">
                                    <p class="tree_item leaf"><a href=
                                    "myhome.html">
                                    <img alt="" class="smallicon navicon"
                                    src=
                                    "pix_core/i/navigationitem.svg"
                                    title="">Preferences</a></p>
                                </li>

                                <li class=
                                "type_setting collapsed item_with_icon">
                                    <p class="tree_item leaf"><a href=
                                    "myhome.html">
                                    <img alt="" class="smallicon navicon"
                                    src=
                                    "pix_core/i/navigationitem.svg"
                                    title="">External blogs</a></p>
                                </li>

                                <li class=
                                "type_setting collapsed item_with_icon">
                                    <p class="tree_item leaf"><a href=
                                    "myhome.html">
                                    <img alt="" class="smallicon navicon"
                                    src=
                                    "pix_core/i/navigationitem.svg"
                                    title="">Register an external
                                    blog</a></p>
                                </li>
                            </ul>
                        </li>

                        <li class="type_unknown collapsed contains_branch">
                            <p class="tree_item branch"><span tabindex=
                            "0">Badges</span></p>

                            <ul>
                                <li class=
                                "type_setting collapsed item_with_icon">
                                    <p class="tree_item leaf"><a href=
                                    "myhome.html">
                                    <img alt="" class="smallicon navicon"
                                    src=
                                    "pix_core/i/navigationitem.svg"
                                    title="">Preferences</a></p>
                                </li>

                                <li class=
                                "type_setting collapsed item_with_icon">
                                    <p class="tree_item leaf"><a href=
                                    "myhome.html">
                                    <img alt="" class="smallicon navicon"
                                    src=
                                    "pix_core/i/navigationitem.svg"
                                    title="">Backpack settings</a></p>
                                </li>
                            </ul>
                        </li>

                        <li class="type_custom collapsed contains_branch">
                            <p class="tree_item branch"><span tabindex=
                            "0">Activity reports</span></p>

                            <ul>
                                <li class=
                                "type_custom collapsed item_with_icon">
                                    <p class="tree_item leaf"><a href=
                                    "myhome.html">
                                    <img alt="" class="smallicon navicon"
                                    src=
                                    "pix_core/i/navigationitem.svg"
                                    title="">Today's logs</a></p>
                                </li>

                                <li class=
                                "type_custom collapsed item_with_icon">
                                    <p class="tree_item leaf"><a href=
                                    "myhome.html">
                                    <img alt="" class="smallicon navicon"
                                    src=
                                    "pix_core/i/navigationitem.svg"
                                    title="">All logs</a></p>
                                </li>

                                <li class=
                                "type_custom collapsed item_with_icon">
                                    <p class="tree_item leaf"><a href=
                                    "myhome.html">
                                    <img alt="" class="smallicon navicon"
                                    src=
                                    "pix_core/i/navigationitem.svg"
                                    title="">Outline report</a></p>
                                </li>

                                <li class=
                                "type_custom collapsed item_with_icon">
                                    <p class="tree_item leaf"><a href=
                                    "myhome.html">
                                    <img alt="" class="smallicon navicon"
                                    src=
                                    "pix_core/i/navigationitem.svg"
                                    title="">Complete report</a></p>
                                </li>

                                <li class=
                                "type_custom collapsed item_with_icon">
                                    <p class="tree_item leaf"><a href=
                                    "myhome.html">
                                    <img alt="" class="smallicon navicon"
                                    src=
                                    "pix_core/i/navigationitem.svg"
                                    title="">Grade</a></p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="type_siteadmin collapsed contains_branch">
                    <hr>

                    <p class="tree_item branch root_node" id=
                    "expandable_branch_71_siteadministration"><a href=
                    "myhome.html">Site
                    administration</a></p>
                </li>
            </ul>
        </div>

        <div class="footer">
            <form action="myhome.html"
            class="adminsearchform" method="get">
                <div class="input-group">
                    <input class="form-control" id="adminsearchquery" name=
                    "query" placeholder="Search in settings" type="text"
                    value=""><span class="input-group-btn"><button class=
                    "btn btn-default" type="submit"><span class=
                    "">Go</span></button></span>
                </div>
            </form>
        </div>
    </div>
</div><span class="skip-block-to" id="sb-2"></span>
