<script type="text/javascript" src="javascript/blocksright.js"></script>
<div class="block_course_summary block no-header" data-block="course_summary"
data-instanceid="2" id="inst2">
    <div class="content">
        <div class="block_action notitle"></div>

        <div class="no-overflow">
            <div class="text_to_html">
                <h3 >Bootstrap Theming Template</h2>

                <div class="no-overflow">
                    About this template<br>
                    <br>

                    <p>This template has been created for the 2015 Moodle Moot theming workshop.
                    It can be used to customize Moodle HTML and CSS without having to install Moodle on
                    your machine. This template is based on the Bootstrap parent theme.<br></p>

                    <h4>How to customize this template</h4>

                    <p>To customize this template you will need a code editor. I recommend using the <a href="http://atom.io">Atom</a> editor if you do not have a preferred editor.<br>
                    </p>


                    <h4>Template content</h4>

                    <p>This template contains:
                        <ul><li><a href="home.html">This home page</a></li>
                            <li><a href="course.html">A course page</a></li>
                            <li><a href="myhome.html">The myhome page</a></li>
                            <li><a href="quiz.html">A Moodle quiz</a></li>
                        </ul>
                    </p>

                    Further instruction on customizing this template will be provided during the workshop.

                </div>
            </div>
        </div>
    </div>
</div><a class="skip-block" href="#sb-5">Skip Calendar</a>

<div class="block_calendar_month block" data-block="calendar_month"
data-dockable="1" data-instanceid="3" id="inst3">
    <div class="header">
        <div class="title" id="yui_3_17_2_3_1430903178516_205">
            <div class="block_action">
                <img alt="Hide Calendar block" class="block-hider-hide" src=
                "images/switch_minus.svg" title=
                "Hide Calendar block"><img alt="Show Calendar block" class=
                "block-hider-show" src="images/switch_plus.svg" title=
                "Show Calendar block"><input alt="Move this to the dock" class=
                "moveto customcommand requiresjs" src=
                "images/block_to_dock.svg" title="Dock Calendar block"
                type="image">
            </div>

            <h2 id="instance-3-header">Calendar</h2>
        </div>
    </div>

    <div class="content">
        <div class="calendar-controls">
            <a class="arrow_link previous" href=
            "home.html" title=
            "Previous month"><span class="arrow">◀</span><span class=
            "accesshide">&nbsp;<span class="arrow_text">Previous
            month</span></span></a> <span class="hide">|</span> <span class=
            "current"><a href=
            "home.html"
            title="This month">May 2015</a></span> <span class="hide">|</span>
            <a class="arrow_link next" href=
            "home.html" title=
            "Next month"><span class="accesshide"><span class="arrow_text">Next
            month</span>&nbsp;</span><span class=
            "arrow">▶</span></a><span class="clearer"><!-- --></span>
        </div>

        <table class="minicalendar calendartable" summary="May 2015 Calendar">
            <caption></caption>

            <tbody>
                <tr class="weekdays">
                    <th scope="col"><abbr title="Sunday">Sun</abbr></th>

                    <th scope="col"><abbr title="Monday">Mon</abbr></th>

                    <th scope="col"><abbr title="Tuesday">Tue</abbr></th>

                    <th scope="col"><abbr title="Wednesday">Wed</abbr></th>

                    <th scope="col"><abbr title="Thursday">Thu</abbr></th>

                    <th scope="col"><abbr title="Friday">Fri</abbr></th>

                    <th scope="col"><abbr title="Saturday">Sat</abbr></th>
                </tr>

                <tr>
                    <td class="dayblank">&nbsp;</td>

                    <td class="dayblank">&nbsp;</td>

                    <td class="dayblank">&nbsp;</td>

                    <td class="dayblank">&nbsp;</td>

                    <td class="dayblank">&nbsp;</td>

                    <td class="day">1</td>

                    <td class="weekend day">2</td>
                </tr>

                <tr>
                    <td class="weekend day">3</td>

                    <td class="day">4</td>

                    <td class="day">5</td>

                    <td class="day today eventnone" id=
                    "yui_3_17_2_3_1430903178516_137">
                        <span class="accesshide">Today Wednesday, 6 May</span>
                        <a href="#" id="calendar_tooltip_1">6</a>
                    </td>

                    <td class="day">7</td>

                    <td class="day">8</td>

                    <td class="weekend day">9</td>
                </tr>

                <tr>
                    <td class="weekend day">10</td>

                    <td class="day">11</td>

                    <td class="day">12</td>

                    <td class="day">13</td>

                    <td class="day">14</td>

                    <td class="day">15</td>

                    <td class="weekend day">16</td>
                </tr>

                <tr>
                    <td class="weekend day">17</td>

                    <td class="day">18</td>

                    <td class="day">19</td>

                    <td class="day">20</td>

                    <td class="day">21</td>

                    <td class="day">22</td>

                    <td class="weekend day">23</td>
                </tr>

                <tr>
                    <td class="weekend day">24</td>

                    <td class="day">25</td>

                    <td class="day">26</td>

                    <td class="day">27</td>

                    <td class="day">28</td>

                    <td class="day">29</td>

                    <td class="weekend day">30</td>
                </tr>

                <tr>
                    <td class="weekend day">31</td>

                    <td class="dayblank">&nbsp;</td>

                    <td class="dayblank">&nbsp;</td>

                    <td class="dayblank">&nbsp;</td>

                    <td class="dayblank">&nbsp;</td>

                    <td class="dayblank">&nbsp;</td>

                    <td class="dayblank">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
</div><span class="skip-block-to" id="sb-5"></span>