<div>
    <span id="maincontent"></span>

    <div class="box generalbox sitetopic">
        <h2 class="sectionname">Bootstrap Theming Template</h2>

        <div class="no-overflow">
            Template Moodle Site<br>
            <br>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
            quis tempor quam. Proin condimentum rutrum tellus, sit amet euismod
            leo vestibulum sollicitudin. Vestibulum accumsan rhoncus velit
            vitae aliquam. Nam auctor blandit erat, sed egestas est commodo
            vitae. Donec posuere orci turpis, id facilisis leo accumsan
            sed.<br></p>

            <p>Praesent mattis ex eu arcu pellentesque, vel luctus sem posuere.
            Phasellus id pharetra magna. Quisque fermentum elit nec egestas
            posuere. Quisque eu mi augue. In sagittis id dui quis ultrices.
            Praesent a nisl in eros volutpat consectetur facilisis eget turpis.
            Praesent molestie eget leo eget molestie. Aenean sed velit metus.
            Proin non tortor risus. Fusce ut odio non felis accumsan fermentum.
            Donec id massa dolor.<br></p>
        </div>

        <ul class="section img-text"></ul>
    </div><a class="skip-block" href="#skipavailablecourses">Skip available
    courses</a>

    <div id="frontpage-course-list">
        <h2>Available courses</h2>

        <div class="courses frontpage-course-list-all">
            <div class="panel panel-default coursebox clearfix odd first"
            data-courseid="8" data-type="1">
                <div class="panel-heading info">
                    <span class="coursename"><a class="" href=
                    "course.html">Moodle
                    Features Demo</a></span><span class="moreinfo"></span>
                </div>

                <div class="content panel-body">
                    <div class="imagebox">
                        <a href=
                        "course.html"><img alt="Course Image Moodle Features Demo"
                        class="courseimage" src="images/features.jpg"></a>
                    </div>

                    <div class="text_to_html">
                        This course outlines Moodle's features by providing
                        examples of activities and resources.
                    </div>
                </div>
            </div>

            <div class="panel panel-default coursebox clearfix even"
            data-courseid="2" data-type="1">
                <div class="panel-heading info">
                    <span class="coursename"><a class="" href=
                    "course.html">Basic
                    Moodle and Mountaineering</a></span><span class=
                    "moreinfo"></span>
                </div>

                <div class="content panel-body">
                    <div class="imagebox">
                        <a href=
                        "course.html"><img alt="Course Image Basic Moodle and Mountaineering"
                        class="courseimage" src=
                        "images/mountaineer.jpg"></a>
                    </div>

                    <p>This course is for senior students planning an ascent of
                    Mont Blanc in July. It is also designed to take Moodle
                    newbies through a number of activities showing off the best
                    of Moodle.&nbsp;<a href=
                    "http://hub.moodle.org/?courseid=497" target=
                    "_blank">Download this course from MOOCH here</a></p>

                    <div class="coursebtn">
                        <a class="btn btn-info btn-sm pull-right" href=
                        "course.html"><span class="coursequicklink">
                        Course <span class=
                        " glyphicon glyphicon-arrow-right"></span></span></a>
                    </div>
                </div>
            </div>

            <div class="panel panel-default coursebox clearfix odd"
            data-courseid="7" data-type="1">
                <div class="panel-heading info">
                    <span class="coursename"><a class="" href=
                    "course.html">Trigonometry</a></span><span class="moreinfo"></span>
                </div>

                <div class="content panel-body">
                    <div class="imagebox">
                        <a href=
                        "course.html"><img alt="Course Image Trigonometry"
                        class="courseimage" src=
                        "images/213dd9aaea5e1a88aad352b7ac69daae_view.jpg"></a>
                    </div>

                    <p>Trigonometry 1. Donec sed odio eros. Donec viverra mi
                    quis quam pulvinar at malesuada arcu rhoncus. Cum sociis
                    natoque penatibus et magnis dis parturient montes, nascetur
                    ridiculus mus. In rutrum accumsan ultricies. Mauris vitae
                    nisi at sem facilisis semper ac in est.</p>
                </div>
            </div>

            <div class="panel panel-default coursebox clearfix even"
            data-courseid="5" data-type="1">
                <div class="panel-heading info">
                    <span class="coursename"><a class="" href=
                    "course.html">English:
                    The Lake Poets</a></span><span class="moreinfo"></span>
                </div>

                <div class="content panel-body">
                    <div class="imagebox">
                        <a href=
                        "course.html"><img alt="Course Image English: The Lake Poets"
                        class="courseimage" src="images/poetry.jpg"></a>
                    </div>

                    <p>An introductory module (for students aged 15 years and
                    over) to the study of Wordsworth, Coleridge and Southey,
                    commonly known as the Lake Poets.<a href=
                    "http://hub.moodle.org/?courseid=559" target=
                    "_blank">Download this course from Moodle.net here</a></p>

                    <div class="coursebtn">
                        <a class="btn btn-info btn-sm pull-right" href=
                        "course.html"><span class="coursequicklink">
                        Course <span class=
                        " glyphicon glyphicon-arrow-right"></span></span></a>
                    </div>
                </div>
            </div>

            <div class="panel panel-default coursebox clearfix odd"
            data-courseid="4" data-type="1">
                <div class="panel-heading info">
                    <span class="coursename"><a class="" href=
                    "course.html">Class
                    &amp; Conflict in World Cinema</a></span><span class=
                    "moreinfo"></span>
                </div>

                <div class="content panel-body">
                    <div class="imagebox">
                        <a href=
                        "course.html"><img alt="Course Image Class &amp; Conflict in World Cinema"
                        class="courseimage" src="images/cinema.jpg"></a>
                    </div>

                    <p>This course explores the issues of class and conflict as
                    portrayed in the films &nbsp;<em><span class="nolink">City
                    of God</span></em> and <em><span class="nolink">La
                    Haine</span></em>. It focuses particularly on the use of
                    <a class="autolink" href=
                    "course.html"
                    title="Mise en Scène">Mise en Scène</a>. &nbsp;It is
                    suitable for students aged 16 -18 and includes sample
                    answers with a variety of individual and collaborative
                    activities. <a href="http://hub.moodle.org/?courseid=567"
                    target="_blank">Download this course from Moodle.net
                    here</a>.</p>
                </div>
            </div>

            <div class="panel panel-default coursebox clearfix even last"
            data-courseid="6" data-type="1">
                <div class="panel-heading info">
                    <span class="coursename"><a class="" href=
                    "course.html">Electrons
                    Waves and Photons - G482</a></span><span class=
                    "moreinfo"></span>
                </div>

                <div class="content panel-body">
                    <div class="imagebox">
                        <a href=
                        "course.html"><img alt="Course Image Electrons Waves and Photons - G482"
                        class="courseimage" src="images/electrons.jpg"></a>
                    </div>

                    <p>The <b>electron</b> is a <a href=
                    "http://en.wikipedia.org/wiki/Subatomic_particle" title=
                    "Subatomic particle">subatomic particle</a>, symbol
                    <span class="unicode" style=
                    "white-space:nowrap;">e<span style=
                    "margin-bottom:-.3em;vertical-align:.8em;line-height:1.2em;font-size:85%;text-align:left;">−</span></span>
                    or <span class="unicode" style=
                    "white-space:nowrap;">β<span style=
                    "margin-bottom:-.3em;vertical-align:.8em;line-height:1.2em;font-size:85%;text-align:left;">−</span></span>,
                    with a negative <a href=
                    "http://en.wikipedia.org/wiki/Elementary_charge" title=
                    "Elementary charge">elementary</a> <a href=
                    "http://en.wikipedia.org/wiki/Electric_charge" title=
                    "Electric charge">electric charge</a>.<sup class=
                    "reference"><a href=
                    "http://en.wikipedia.org/wiki/Electron#cite_note-10"><span>[</span>8<span>]</span></a></sup>
                    Electrons belong to the first <a href=
                    "http://en.wikipedia.org/wiki/Generation_%28particle_physics%29"
                    title="Generation (particle physics)">generation</a> of the
                    <a href="http://en.wikipedia.org/wiki/Lepton" title=
                    "Lepton">lepton</a> particle family,<sup class=
                    "reference"><a href=
                    "http://en.wikipedia.org/wiki/Electron#cite_note-curtis74-11"><span>[</span>9<span>]</span></a></sup>
                    and are generally thought to be <a href=
                    "http://en.wikipedia.org/wiki/Elementary_particle" title=
                    "Elementary particle">elementary particles</a> because they
                    have no known components or substructure.<a href=
                    "http://en.wikipedia.org/wiki/Electron#cite_note-prl50-2"></a></p>

                    <div class="coursebtn">
                        <a class="btn btn-info btn-sm pull-right" href=
                        "course.html"><span class="coursequicklink">
                        Course <span class=
                        " glyphicon glyphicon-arrow-right"></span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div><span class="skip-block-to" id="skipavailablecourses"></span><br>
</div>